<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geomap</title>
    <!-- folha de estilo do Folium -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- script do Folium -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <!-- Leaflet Routing Machine -->
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
    <!-- script do Folium -->
    <script src="https://unpkg.com/folium@0.12.1"></script>
</head>
<body>

<div id="map" style="height: 500px;"></div>

<script src="static/js/map.js"></script>

</body>
</html>
